{% extends 'base.html.twig' %}

{% block title %}Instructions - Secret Santa{% endblock %}

{% block body %}

<h1>Le concept ?</h1>
<p>Vous tirez une personne au hasard à qui vous allez offrir un cadeau. Mais la particularité de celui-ci cest qu'il ne sera PAS matériel ! Un montage, une photo de profil, un meme, un dessin, une photo, ce que vous voulez tant que c'est gratuit et virtuel.</p>
<br>
<br>
<h1>Comment participer ?</h1>
<p>Il te suffit de t'inscrire sur ce site, début décembre une annonce sera faite sur le serveur, les enfants seront tirés aléatoirement et tu pourras retrouver son profil sur la page "Envoyer mon cadeau" (qui apparaitra quand le tirage sera fait) et tu pourras envoyer ton cadeau !</p>
<br>
<br>
<p>Si vous avez la moindre question vous pouvez envoyer un mp à Yan ou Ninow qui <strinke>se feront un plaisir</strike> vous répondrons !</p>

{% endblock %}