{% extends 'base.html.twig' %}

{% block title %}Instructions - Secret Santa{% endblock %}

{% block body %}

<h1>Comment participer ?</h1>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi voluptas, voluptate corrupti hic natus voluptatibus?</p>
<p>Nesciunt nihil error delectus illo quidem fugiat nemo provident autem, perferendis animi molestiae sit cumque.</p>
<br>
<br>
<h1>Et je gagne quoi ?</h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium officia quibusdam quaerat minima provident incidunt animi, at facilis quasi magnam!</p>
<br>
<br>
<h1>De qui suis-je le père noël secret ?</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis cupiditate voluptatibus aspernatur!</p>


{% endblock %}
